.stockphoto {
    background-size: cover;
    background-position: center;
    height: 250px;
    margin-bottom: 20px;
}

.img-1 {
    background-image: url('./images/1.jpg');
}

.img-2 {
    background-image: url('./images/2.jpg');
}

.img-3 {
    background-image: url('./images/3.jpg');
}

.img-4 {
    background-image: url('./images/4.jpg');
}

.img-5 {
    background-image: url('./images/5.jpg');
}

.img-6 {
    background-image: url('./images/6.jpg');
}

.img-7 {
    background-image: url('./images/7.jpg');
}
